.machine {
  width: 430px;
  height: 305px;
  padding-left: 60px;
  padding-top: 40px;
  background-image: url("../../assets/machine.svg");
  background-size: contain;
}

.startButton {
  display: inline-block;
  width: 92px;
  height: 90px;
  background-size: cover;
  margin-right: 5px;
}
