.machine {
  width: 450px;
  height: 305px;
  padding-left: 84px;
  padding-top: 111px;
  background-image: url("../../assets/machine.png");
  background-size: contain;
}

.startButton {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: black;
  margin: 0 1rem;
}
