.panel {
  height: 200px;
  width: 510px;
  background-color: #793724;
}

.controlbutton {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: chartreuse;
  margin: 1rem;
}

.innerpanel {
  background-color: rgb(87, 34, 4);
  margin: 0 1rem;
  height: 140px;
}
