.cup {
  background-image: url("../../../assets/cup_small.png");
  background-repeat: no-repeat;
  background-size: 60px;
  display: inline-block;
  margin: 0 1rem;
  height: 110px;
  width: 60px;
}

.cup > p {
  font-size: 10px;
}
