.cup {
  background-repeat: no-repeat;
  background-size: 77px;
  background-position: bottom;
  display: inline-block;
  height: 167px;
  width: 97px;
  position: relative;
}

.cup img {
  position: absolute;
  bottom: 5px;
  width: 40px;
  left: 28px;
  z-index: 110;
}

.cup > p {
  font-size: 10px;
}

.cup .liquid {
  background-color: #572204;
  position: absolute;
  bottom: 3px;
  display: block;
  width: 31px;
  left: 32px;
  z-index: 90;
}

.cup .spurt {
  height: 151px;
  background-color: #572204;
  width: 10px;
  position: absolute;
  left: 42px;
  margin-top: 13px;
}
