@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.item {
  display: inline-block;
  width: 80px;
  height: 90px;
  margin: 0 1rem;
  background-size: contain;
  z-index: 110;
  position: relative;
  top: -26px;
}

.slidein {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.item div {
  margin: 0 1rem;
}
